
<!--<h1>Blog</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>

  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
    </tr>
  <% end %>
</table>



<%= render 'form' %> -->


<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		
        <!-- <link rel="stylesheet" type="text/css" href="app/assets/css/bootstrap.min.css"> -->

        <!-- chama a folha de estilos css -->
        <link rel="stylesheet" type="text/css" href="css/css.css">

        <script src="assets/js/jquery-3.2.1.min.js"></script>        
        <script src="assets/js/bootstrap.min.js"></script>

        <!-- Custom fonts for this template -->
        <link href="assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

        <!-- Custom styles for this template -->
        <link href="assets/css/clean-blog.min.css" rel="stylesheet">

        <title> AppPromoter </title>
    </head>

    <body>
        <!-- MENU -->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container">
                <img src="/assets/logoap.png">
                <a class="navbar-brand" href="index.html"> AppPromoter </a>
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"> Menu <i class="fa fa-bars"></i> </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="index.html">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="sobre.html">Sobre</a>
                            </li>
                        </ul>
                        <form class="form-inline">
                            <input class="form-control mr-sm-2" type="text" placeholder="Procurar" aria-label="Procurar">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Procurar</button>
                    </form>
                    </div>
            </div>
        </nav>

        <!-- Cabeçalho, introdução -->
        <header class="masthead" style="background-image: url('/assets/head.png')">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <div class="site-heading">
                            <h1> AppPromoter </h1>
                            <span class="subheading"> O futuro do seu app em boas mãos </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Corpo -->
        <div class="container">
            <div class="row">
                <div role="main" class="col-md-8">
                    <div class="post-preview">
						<h1>Bem vindo ao Blog da App Promoter. <h1>
						<br><br>
                        <h3>   Traremos novidades e insights da área de Mobile Tech e Inovação.   Conheça nossa ferramenta 								de ASO e cresça no ranking orgânico </h3>
						<br><br>
						
					    <% @articles.each do |article| %>
							<h1 class="post-title"> <%= article.title %> </h1>
							<p class="post-subtitle"><%= article.text.html_safe %> </p>
	                        <p class="post-meta">
								Postado por AppPromoter em <%= article.created_at.strftime("%d/%m/%Y %H:%M")%> </p>
							
						    <hr>
					    <% end %>
						

                 
                        
                    </div>
                               
                    <!-- Pager -->
                    <div class="clearfix">
                        <a class="btn btn-secondary float-right" href="#">Posts antigos &rarr;</a>
                    </div>
                </div>
                <aside role="complementary" class="col-md-4">
                    <!-- inscrever -->
                    <div class="col-md-12">
                        <div class="signup-header wow fadeInUp">
                            <h3 class="form-title text-center">Quer saber mais? Inscreva-se!</h3>
							
							<%= form_with model: @subscriber, url: welcome_index_path, local: true do |form| %>
 
							  <% if @subscriber.errors.any? %>
							    <div id="error_explanation">
							      <h2>
							        <%= pluralize(@subscriber.errors.count, "error") %> ocorreu ao salva subscribe:
							      </h2>
							      <ul>
							        <% @subscriber.errors.full_messages.each do |msg| %>
							          <li><%= msg %></li>
							        <% end %>
							      </ul>
							    </div>
							  <% end %>
 

                               <div class="form-group">
									<%= form.text_field :name, class: 'form-control input-lg', placeholder: 'Nome', 										required:true %>
								</div>
								<div class="form-group">
							   	 	<%= form.text_field :email, class: 'form-control input-lg', placeholder: 'Email', 										required:true %>
								</div>
								<div class="form-group last">
							    	<%= form.submit 'CADASTRAR', class: 'btn btn-warning btn-block btn-lg' %>
								</div> 
							<% end %>

							
                            <!-- <form class="form-header" action="../landingPage/obrigado.html" role="form" method="POST" id="#">
                                <div class="form-group">
                                    <input class="form-control input-lg" name="MERGE1" id="name" type="text" placeholder="Nome" required>
                                </div>
                                <div class="form-group">
                                    <input class="form-control input-lg" name="MERGE0" id="email" type="email" placeholder="Email" required>
                                </div>
                                <div class="form-group last">
                                    <input type="submit" class="btn btn-warning btn-block btn-lg" value="CADASTRAR">
                                </div> -->
                                <p class="privacy text-center">Não iremos compartilhar seu email.</p>
                               

                            </form>
                        </div>
                    </div>
                </aside>
            </div>
        </div>

        <hr>

		<!-- Rodapé -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <ul class="list-inline text-center">
                            <li class="list-inline-item">
                                <a href="#">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <p class="copyright text-muted">Copyright &copy; AppPromoter 2017 </p>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Bootstrap core JavaScript -->
        <script src="assets/vendor/jquery/jquery.min.js"></script>
        <script src="assets/vendor/popper/popper.min.js"></script>
        <script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>

        <!-- Custom scripts for this template -->
        <script src="assets/js/clean-blog.min.js"></script>	
    </body>
</html>